Repository otasoft/otasoft-api, pull requests merged in 2021-02, with the labels that each got.

#143 Dev
  README.md
  package.json
  src/doc/scripts/generate-compodoc.sh
  src/health/health.controller.ts
  src/health/health.service.ts
Labels: enhancement, high priority

#152 Create label.yml
  .github/labeler.yml
  .github/workflows/label.yml
Labels: ci, enhancement, medium priority

#151 Create greetings.yml
  .github/workflows/greetings.yml
Labels: enhancement, medium priority

#153 Create stale.yml
  .github/workflows/stale.yml
Labels: enhancement, medium priority

#154 feat-#149: add readme.md to all folders
  src/cache/README.md
  src/doc/README.md
  src/filters/README.md
  src/graphql/README.md
  src/health/README.md
  src/interceptors/README.md
  src/microservices/README.md
  src/queues/README.md
  src/security/README.md
  src/security/configs/README.md
  src/utils/README.md
Labels: microservices, source

#157 Feat #142/add typescript alias
  package.json
  src/microservices/auth/auth.module.ts
  src/microservices/auth/guards/access-control.guard.ts
  src/microservices/auth/rest/controllers/user/user.controller.ts
  src/microservices/auth/services/auth/auth.service.ts
  src/microservices/auth/services/user/user.service.ts
  src/microservices/booking/booking.module.ts
  src/microservices/booking/rest/booking.controller.ts
  src/microservices/catalog/catalog.module.ts
  src/microservices/catalog/services/offer.service.ts
  src/microservices/customer/customer.module.ts
  src/microservices/customer/graphql/customer-mutation.resolver.ts
  src/microservices/customer/graphql/customer-query.resolver.ts
  src/microservices/customer/rest/customer.controller.ts
  src/microservices/mail/mail.module.ts
  src/microservices/mail/sendgrid/sendgrid.module.ts
  src/microservices/mail/sendgrid/services/sendgrid.service.ts
  tsconfig.json
  yarn.lock
Labels: enhancement, medium priority, microservices, source

#159 Refactor #156/customer module
  package.json
  src/microservices/auth/rest/controllers/user/user.controller.ts
  src/microservices/auth/services/user/user.service.ts
  src/microservices/customer/customer.module.ts
  src/microservices/customer/graphql/input/index.ts
  src/microservices/customer/graphql/models/index.ts
  src/microservices/customer/graphql/mutations/customer-mutation.resolver.ts
  src/microservices/customer/graphql/mutations/index.ts
  src/microservices/customer/graphql/queries/customer-query.resolver.ts
  src/microservices/customer/graphql/queries/index.ts
  src/microservices/customer/interfaces/index.ts
  src/microservices/customer/rest/controllers/customer.controller.spec.ts
  src/microservices/customer/rest/controllers/customer.controller.ts
  src/microservices/customer/rest/controllers/index.ts
  src/microservices/customer/rest/dto/index.ts
  src/microservices/customer/rest/models/index.ts
  src/microservices/customer/services/customer.service.spec.ts
  src/microservices/customer/services/customer.service.ts
  src/microservices/customer/services/index.ts
Labels: enhancement, medium priority, microservices, source

#160 Refactor #158/booking module
  package.json
  src/microservices/booking/booking.module.ts
  src/microservices/booking/graphql/input/index.ts
  src/microservices/booking/graphql/models/index.ts
  src/microservices/booking/graphql/mutations/booking-mutation.resolver.ts
  src/microservices/booking/graphql/mutations/index.ts
  src/microservices/booking/graphql/queries/booking-query.resolver.ts
  src/microservices/booking/graphql/queries/index.ts
  src/microservices/booking/rest/controllers/booking.controller.spec.ts
  src/microservices/booking/rest/controllers/booking.controller.ts
  src/microservices/booking/rest/controllers/index.ts
  src/microservices/booking/rest/dto/index.ts
  src/microservices/booking/rest/models/index.ts
  src/microservices/booking/services/booking.service.spec.ts
  src/microservices/booking/services/booking.service.ts
  src/microservices/booking/services/index.ts
Labels: enhancement, medium priority, microservices, source

#115 Add very basic payment module
  src/graphql/schema.gql
  src/microservices/index.ts
  src/microservices/payment/graphql/input/create-payment.input.ts
  src/microservices/payment/graphql/input/index.ts
  src/microservices/payment/graphql/models/index.ts
  src/microservices/payment/graphql/models/payment-gql.model.ts
  src/microservices/payment/graphql/payment-mutation.resolver.ts
  src/microservices/payment/graphql/payment-query.resolver.ts
  src/microservices/payment/payment.module.ts
  src/microservices/payment/payment.service.spec.ts
  src/microservices/payment/payment.service.ts
  src/microservices/payment/rest/dto/create-payment.dto.ts
  src/microservices/payment/rest/dto/index.ts
  src/microservices/payment/rest/models/payment-rest.ts
  src/microservices/payment/rest/payment.controller.spec.ts
  src/microservices/payment/rest/payment.controller.ts
  yarn.lock
Labels: enhancement, high priority

#163 feat-#4: Add amount and card_token
  src/microservices/payment/graphql/input/create-payment.input.ts
  src/microservices/payment/rest/dto/create-payment.dto.ts
Labels: enhancement, microservices, source

#168 Refactor #164/payment module
  package.json
  src/graphql/schema.gql
  src/microservices/booking/booking.module.ts
  src/microservices/payment/graphql/mutations/index.ts
  src/microservices/payment/graphql/mutations/payment-mutation.resolver.ts
  src/microservices/payment/graphql/queries/index.ts
  src/microservices/payment/graphql/queries/payment-query.resolver.ts
  src/microservices/payment/payment.module.ts
  src/microservices/payment/rest/controllers/index.ts
  src/microservices/payment/rest/controllers/payment.controller.spec.ts
  src/microservices/payment/rest/controllers/payment.controller.ts
  src/microservices/payment/rest/models/index.ts
  src/microservices/payment/services/index.ts
  src/microservices/payment/services/payment.service.spec.ts
  src/microservices/payment/services/payment.service.ts
Labels: enhancement, medium priority, microservices, source

#167 Refactor #155/auth module
  package.json
  src/app.module.ts
  src/microservices/auth/auth.module.ts
  src/microservices/auth/guards/index.ts
  src/microservices/auth/oidc/index.ts
  src/microservices/auth/oidc/oidc-strategy-factory.ts
  src/microservices/auth/rest/controllers/index.ts
  src/microservices/auth/rest/controllers/oidc/oidc.controller.spec.ts
  src/microservices/auth/rest/controllers/oidc/oidc.controller.ts
  src/microservices/auth/services/index.ts
  src/open-id/README.md
  src/open-id/controllers/index.ts
  src/open-id/controllers/open-id.controller.spec.ts
  src/open-id/controllers/open-id.controller.ts
  src/open-id/guards/index.ts
  src/open-id/guards/open-id.guard.ts
  src/open-id/helpers/build-open-id-client.ts
  src/open-id/helpers/index.ts
  src/open-id/open-id.module.ts
  src/open-id/services/index.ts
  src/open-id/services/open-id.service.spec.ts
  src/open-id/services/open-id.service.ts
  src/open-id/strategies/index.ts
  src/open-id/strategies/open-id-strategy-factory.ts
  src/open-id/strategies/open-id.strategy.ts
  src/security/serializers/index.ts
  src/security/serializers/session.serializer.ts
  tsconfig.json
Labels: enhancement, medium priority, microservices, source
